* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.checkout-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: start;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
}

header p {
    color: #888;
    font-size: 1rem;
}

.orange-p{
    color: #d35400;
}

.checkout-container header {
    text-align: start;
    margin-bottom: 20px;
}

.balls {
    justify-content: start;
    margin-top: 10px;
    display: flex;
    gap: 20px; 
}

.ball-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.ball {
    color: #e74c3c;
    background-color: #ffffff;
    border: 1px solid #e74c3c;
    padding: 12px 15px;
    margin-bottom: 5px; 
    border-radius: 50%;
    font-weight: bold;
}

.ball.active {
    background-color: #e74c3c;
    color: #fff;
}

.ball-text {
    font-size: 0.9rem;
    color: #555;
}

.checkout-main {
    display: flex;
    gap: 20px;
}

.checkout-content, .order-summary {
    padding: 20px;
    border-radius: 8px;
}

.contact-info h2, .delivery-info h2, .order-summary h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 15px;
}

.form-line {
    display: flex;
    gap: 20px;
}

.form-information {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 15px;
}

.form-information.zip-code {
    max-width: 100px;
}

.form-information label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

.form-information input, .form-information select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

.proceed-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    background: linear-gradient(45deg, #e67e22, #d35400);
    color: #fff;
    transition: box-shadow 0.3s;
}

.order-summary {
    width: 100%;
    font-family: Arial, sans-serif;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffff;
}

.order-summary h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.item {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    align-items: center;
}

.item img {
    width: 60px;
    height: 60px;
}

.item-details {
    flex: 1;
    color: #555;
}

.item-details h3 {
    font-size: 1.1rem;
    color: #333;
    margin: 0;
}

.item-details p {
    font-size: 0.9rem;
    margin: 5px 0;
}

.item-choices {
    display: flex;
    gap: 10px;
}

.choice label {
    display: block;
    font-size: 0.8rem;
    color: #666;
}

.choice select {
    width: 100%;
    padding: 5px;
    font-size: 0.9rem;
}

.item-quantity button {
    padding: 0 8px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
}


.item-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px; /* Espaço entre quantidade e preço */
}

.price-item {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-top: 5px; /* Ajuste de espaço entre quantidade e preço */
}
.order-resume-total {
    margin-top: 20px;
}

.order-resume-total p {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin: 5px 0;
}

.order-resume-total .total {
    font-size: 1.2rem;
    font-weight: bold;
}

.delete-item {
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    background: none;

}

.delete-item img {
    width: 18px;
    height: 18px;
    justify-content: end;
}

.breadcrumb.orange {
    color:#d35400;
}

.breadcrumb.gray {
    color: gray;
}

.arrow {
    color: gray;
    margin-left: 5px;
}

.item-container {
    display: flex;
    align-items: center; 
}

.delete-item {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 20 px;
}

.delete-item img {
    width: 18px;
    height: 18px;
}
.item-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-quantity label {
    font-size: 0.7rem;
    margin-bottom: 5px;
    color: #555;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}